<section>
    <h1 class="om-title">
        Ontology Browser</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-inline">

                <div class="form-group">
                  <label class="" for="PageSize">Status: </label>
                  <select class="select2-choice ui-select-match select2-default" name="pageSize"
                      [(ngModel)]="table.pageSize">
                      <option [ngValue]="5">5</option>
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="15">15</option>
                  </select>

                  <label class="" for="PageSize">Role: </label>
                  <select class="select2-chosen" name="pageSize"
                      [(ngModel)]="table.pageSize">
                      <option [ngValue]="5">5</option>
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="15">15</option>
                  </select>
                </div>
                <div class="form-group pull-right">
                  <div class="form-group">
                      <button class="btn btn-default"
                          (click)="addRecordPlugin()">Add user</button>
                  </div>
                </div>
            </div>
    </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span>Name</span></th>
                        <th>Property</th>
                        <th>Method</th>
                        <th>Scale</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!table.totalFilteredRows" class="clickable-row">
                        <td colspan="4" class="text-center">No records found.</td>
                    </tr>
                    <tr *ngFor="let user of table.itemsOnCurrentPage">
                        <td>
                            sarasa
                        </td>
                        <td>{{user.username}}</td>
                        <td>{{user.name}}</td>
                        <td>
                            Delete
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <pagination [maxPageIndex]="table.maxPageIndex"
                (pageNumberChanged)="table.currentPageIndex = $event">
    </pagination>

  
</section>
