<section>
  <header>
    <h1 class="om-title">
        Site Administration</h1>
        <nav>
        			<ol class="nav nav-tabs">
        				<li role="presentation" class="active">
        					<a href="#variables">
        						Users
        					</a>
        				</li>
        			</ol>
        </nav>
    </header>
    <br><br>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-inline">

                <div class="form-group">
                  <label class="">Status: </label>
                  &nbsp;
                  <select class="select2-chosen" name="pageSize"
                      [(ngModel)]="table.pageSize">
                      <option [ngValue]="0">Active</option>
                      <option [ngValue]="1">Inactive</option>
                  </select>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <label class="">Role: </label>
                  &nbsp;
                  <select class="select2-chosen" name="pageSize"
                      [(ngModel)]="table.pageSize">
                      <option [ngValue]="All">All</option>
                      <option [ngValue]="Breeder">Breeder</option>
                      <option [ngValue]="Technician">Technician</option>
                      <option [ngValue]="Admin">Admin</option>
                  </select>
                </div>
                <div class="form-group pull-right">
                  <div class="form-group">
                      <button class="btn btn-default"
                          (click)="addRecordPlugin()">Add user</button>
                  </div>
                </div>
            </div>
    </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!table.totalFilteredRows" class="clickable-row">
                        <td colspan="4" class="text-center">No records found.</td>
                    </tr>
                    <tr *ngFor="let user of table.itemsOnCurrentPage">
                        <td>{{user.username}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                        <td>{{user.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <pagination [maxPageIndex]="table.maxPageIndex"
                (pageNumberChanged)="table.currentPageIndex = $event">
    </pagination>


</section>
